---
import { App } from '../components/index.tsx';

import '../styles/global.css';
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Preact GitHub Calendar</title>
        <meta name="description" content="Preact GitHub Calendar Docs" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="icon" href="/favicon.ico" />
    </head>
    <body>
        <App />
        <div class="flex(& col) h-full px-5 text-content(& dark:dark) bg(light:[#f8f8f8] dark:[#272a27])">
        </div>
    </body>
</html>
