:root {
  --theme-green: #40c463;
  --theme-dark-green: #216e39;
  --theme-steel: #ededed;
  --theme-link-blue: #3273dc;
  --theme-link-hover: #363636;
}

html {
  background-color: var(--theme-steel);
  overflow-y: auto;
}

#hero,
footer {
  background-image: linear-gradient(150deg, var(--theme-dark-green), var(--theme-green));
}

#main-content a {
  color: var(--theme-link-blue) !important;
}

#main-content a:hover {
  color: var(--theme-link-hover) !important;
  text-decoration: underline;
}

input::placeholder {
  font-weight: 700;
}


/* Configuring the component */
.preact-hint__content {
  font-size: 0.75rem;
}

.github-calendar__graph-footer {
  margin-top: 0.25rem;
  font-size: 14px !important;
}

.github-calendar__footer {
  font-size: 14px !important;
}

