@import 'preact-hint/dist/style.css';

.github-calendar__graph {
  padding: 0.5rem;
}

.github-calendar__graph rect {
  shape-rendering: geometricPrecision;
  outline: 1px solid rgba(27, 31, 35, 0.04);
  outline-offset: -1px;
}

.github-calendar__graph-label {
  fill: currentColor;
}

.github-calendar__graph-footer {
  margin-top: 0.25rem;
  font-size: 11px;
  overflow-y: hidden;
}

.github-calendar__graph-legend {
  display: inline-block;
  margin: 0 5px;
  position: relative;
  padding-left: 0;
  bottom: -1px;
}

.github-calendar__graph-legend-item {
  display: inline-block;
  box-shadow: inset 0 0 0 1px rgba(27, 31, 35, 0.04);
  border-radius: 2px;
}

.github-calendar__graph-legend-item:not(:last-child) {
  margin-right: 0.17rem;
}

.github-calendar__footer {
  padding: 15px 10px;
  text-align: center;
  border-top: 1px solid #ddd;
  font-size: 11px;
}

.github-calendar__footer-contribution-count {
  font-weight: 300;
  line-height: 1.3em;
  font-size: 24px;
  display: block;
}

.github-calendar__error {
  text-align: center;
  color: darkred;
}
